<h3>New Jobs</h3>
<div class="panel panel-default">
  <table class="table">
    <tr>
      <td>#</td>
      <td>Date</td>
      <td>Summary</td>
      <td>Status</td>
      <td>Customer name</td>
      <td colspan=2>Response</td>
    </tr>
    <% @new_joblistings.each_with_index do |new_joblisting, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= new_joblisting.created_at.strftime("%F") %></td>
        <td><%= link_to "#{new_joblisting.description.capitalize}", joblisting_path(new_joblisting) %></td>
        <td><%= new_joblisting.status.capitalize %></td>
        <td><%= link_to "#{User.find(new_joblisting.user_id).firstname.capitalize}", user_path(User.find(new_joblisting.user_id)) %></td>
        <td><%= link_to "Accept", accept_joblisting_path(new_joblisting), method: :put %></td>
        <td><%= link_to "Decline", decline_joblisting_path(new_joblisting), method: :put %></td>
      </tr>
    <% end %>
  </table>
</div>
<%= will_paginate @new_joblistings %> 