<div class="container user-profile">
  <div class="row">
      <div class="col-xs-12 col-sm-9">

        <!-- Electrician profile -->
        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">Electrician Profile</h4>
          </div>
          <div class="panel-body">
            <div class="profile__avatar">
              <%= image_tag @provider.avatar %>
            </div>
            <div class="profile__header">
              <h4><%= "#{@provider.firstname} #{@provider.lastname}" %><small> Electrician</small></h4>
              <p class="text-muted">
                <%= @provider.description %>
              </p>
            </div>
          </div>
        </div>

        <!-- Electrician info -->
        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">Electrician info</h4>
          </div>
          <div class="panel-body">
            <table class="table profile__table">
              <tbody>
                <tr>
                  <th><strong>License Number</strong></th>
                  <td><%= @provider.license_num %></td>
                </tr>
                <tr>
                  <th><strong>Position</strong></th>
                  <td>Electrician</td>
                </tr>
                <tr>
                  <th><strong>Experience</strong></th>
                  <td><%= @provider.experience %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Community -->
        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">Activity</h4>
          </div>
          <div class="panel-body">
            <table class="table profile__table">
              <tbody>
                <tr>
                  <th><strong>Member since</strong></th>
                  <td><%= @provider.created_at %></td>
                </tr>
                <tr>
                  <th><strong>Last login</strong></th>
                  <td><%= @provider.last_sign_in_at %></td>
                </tr>
                <tr>
                  <th><strong>Jobs Completed</strong></th>
                  <td><%= @provider.joblistings.where(status: 'completed').count %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Latest posts -->
        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">Remarks by Customers</h4>
          </div>
          <% @comments.each do |comment| %>
          <div class="panel-body">
            <div class="profile__comments">
              <div class="profile-comments__item">
                <div class="profile-comments__controls">
                  <a href="#"><i class="fa fa-share-square-o"></i></a>
                  <a href="#"><i class="fa fa-edit"></i></a>
                  <a href="#"><i class="fa fa-trash-o"></i></a>
                </div>
                <div class="profile-comments__avatar">
                  <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="...">
                </div>
                <div class="profile-comments__body">
                  <h5 class="profile-comments__sender">
                    <%= User.find(comment.user_id).firstname.capitalize %> <%= User.find(comment.user_id).lastname.capitalize %> <small><%= comment.created_at %></small>
                  </h5>
                  <div class="profile-comments__content">
                    <%= comment.body %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
          <% if current_user %>
            <%= form_for @comment do |f| %>

              <div class="field">
                <%= f.text_area :body, autofocus: true, placeholder: 'Message' %>
              </div>

              <%= f.hidden_field :user_id, :value =>  current_user.id %>
              <%= f.submit %>

            <% end %>
          <% end %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3">

        <!-- Contact provider -->
        <p>
          <button class="edit-profile-button">
            <% if current_user %>
              <%= link_to 'Message Me', Conversation.find(@conversation.id) %>
            <% end %>
          </button>
        </p>

        <hr class="profile__contact-hr">

        <!-- Contact info -->
        <div class="profile__contact-info">
          <div class="profile__contact-info-item">
            <div class="profile__contact-info-icon">
              <i class="fa fa-phone"></i>
            </div>
          <div class="profile__contact-info-item">
            <div class="profile__contact-info-icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="profile__contact-info-body">
              <h6 class="profile__contact-info-heading">Mobile number</h5>
              <p>
                <%= "+65 #{@provider.tel_num}" %>
              </p>
            </div>
          </div>
          <div class="profile__contact-info-item">
            <div class="profile__contact-info-body">
              <h6 class="profile__contact-info-heading">E-mail address</h5>
              <a href="mailto:admin@domain.com"><%= @provider.email %></a>
            </div>
          </div>
        </div>
          <% if current_provider %>
            <%= link_to "Edit Profile", edit_provider_registration_path, class: "btn btn-success btn-block"%>
          <% end %>
      </div>
    </div>
  </div>
</div>
