<div class="topBefore", id="form">
  <h2>Edit
    <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :firstname %>
      <%= f.text_field :firstname, autofocus: true, placeholder: 'Firstname' %>
    </div>

    <div class="field">
      <%= f.label :lastname %>
      <%= f.text_field :lastname, autofocus: true, placeholder: 'Lastname' %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
    </div>

    <div class="field">
      <%= f.label :telephone_number %>
      <%= f.text_field :tel_num, autofocus: true, placeholder: 'Telephone' %>
    </div>

    <div class="field">
      <%= f.label :address %>
      <%= f.text_area :user_address, autofocus: true, placeholder: 'Address' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for:
      <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", placeholder: "New Password (leave blank if you don't want to change it)" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm New Password" %>
    </div>

    <div class="field">
      <%= f.password_field :current_password, autocomplete: "off", placeholder: "Confirm Password (we need your current password to confirm your changes)" %>
    </div>

    <br />

    <%= f.submit "Update", :id => 'submit' %>
  <% end %>
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :id => 'submit' %>
  <%= link_to "Back", :back %>

</div>
