<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h1> Create Invoice </h1>
    <%= bootstrap_form_for @invoice do |f| %>
    <%= f.text_area :job_description %>
    <br>
    <%= f.text_field :price %>
    <br>
    <%= f.hidden_field :invoice_ref, value: @invoice_number %>
    <br>
    <%= f.hidden_field :joblisting_id, value: @joblisting.id%>
    <%= f.submit %>
    <% end %>
  </div>
</div>
