<%= form_for @joblisting do |f| %>

  <div class='field'>
    <%= label_tag 'type_install', 'Install' %>
    <%= check_box_tag 'joblisting[type][]', 'Install', checked('Install'), id: 'type_install' %>

    <%= label_tag 'type_repair', 'Repair' %>
    <%= check_box_tag 'joblisting[type][]', 'Install', checked('Repair'), id: 'type_repair' %>

    <%= label_tag 'type_replace', 'Replace' %>
    <%= check_box_tag 'joblisting[type][]', 'Install', checked('Replace'), id: 'type_replace' %>

  </div>

  <div class='actions'>
    <%= f.submit %>
  </div>

<% end %>
