<div class="topBefore", id="request">
  <%= form_for @joblisting, method: :post do |f| %>

    <div class='field'>
      <p>What needs to be done?</p>
      <%= label_tag 'issue_install', 'Installation' %>
      <%= check_box_tag 'joblisting[issue][]', 'Installation', checked('Installation'), id: 'issue_install' %>

      <%= label_tag 'issue_repair', 'Repair' %>
      <%= check_box_tag 'joblisting[issue][]', 'Repair', checked('Repair'), id: 'issue_repair' %>

      <%= label_tag 'issue_replace', 'Replace' %>
      <%= check_box_tag 'joblisting[issue][]', 'Replace', checked('Replace'), id: 'issue_replace' %>
    </div>

    <br />

    <div class='field'>
      <p>What type of fixtures do you require?</p>
      <%= label_tag 'fixture_wiring', 'Wiring' %>
      <%= check_box_tag 'joblisting[fixture][]', 'Wiring', checked('Wiring'), id: 'fixture_wiring' %>

      <%= label_tag 'fixture_light', 'Lights' %>
      <%= check_box_tag 'joblisting[fixture][]', 'Lights', checked('Lights'), id: 'fixture_light' %>

      <%= label_tag 'fixture_switch', 'Switches' %>
      <%= check_box_tag 'joblisting[fixture][]', 'Switches', checked('Switches'), id: 'fixture_switch' %>
    </div>

    <br />

    <div class="field">
      <%= f.label :number_of_fixtures_required %>
      <%= f.select :num_fixture, ['1','2','3','4'] %>
    </div>

    <br />

    <div class='field'>
      <p>When does it need to be done?</p>
      <%= f.label :desired_date %>
      <%= f.select :date, ['Within 5 days', 'Within 2 weeks', 'Within 1 month'] %>
    </div>

    <br />

    <div class="field">
      <%= f.label :desired_timing %>
      <%= f.select :time, ['Morning','Afternoon','Evening'] %>
    </div>

    <br />

    <div class='field'>
      <p>What type of property do you stay in?</p>
      <%= f.label :housing %>
      <%= f.select :housing, ['HDBs', 'Condo', 'Landed'] %>
    </div>

    <br />

    <div class="field">
      <%= f.text_area :description, autofocus: true, placeholder: 'Description' %>
    </div>

    <div class="field">
      <%= f.text_area :job_address, autofocus: true, placeholder: 'Job Address' %>
    </div>

    <div class='actions'>
      <%= f.submit %>
    </div>

  <% end %>
</div>
