<div class="container">

  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.text_field :firstname, label: "First Name", autofocus: true %>
  </div>

  <div class="field">
    <%= f.text_field :lastname, label: "Last Name", autofocus: true %>
  </div>

  <div class="field">
    <%= f.text_field :tel_num, label: "Mobile Number", autofocus: true %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.text_field :license_num, label: "License Number", autofocus: true %>
  </div>

  <div class="field">
    <%= f.text_area :description, autofocus: true %>
  </div>

  <div class="field">
    <%= f.text_area :experience, autofocus: true %>
  </div>

  <div class="field">
    <%= f.file_field :avatar, label: "Photo Upload", autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>

</div>
