<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div class="media">
    <% if @messages.present? %>
      <% @messages.each do |message| %>
      <div class="media-body">
        <small class="pull-right time"><i class="fa fa-clock-o"></i> <%= message.created_at %></small>
        <%= message.body.html_safe %>
      </div>
      <% end %>
    <% end %>
</div>

<div class="media-form">
  <%= form_for @message do |f| %>

  <div class="field">
    <%= f.text_area :body, autofocus: true, placeholder: 'Message', cols: "60", rows: "3" %>
  </div>

  <%= f.hidden_field :conversation_id, :value => @conversation.id %>
  <%= f.hidden_field :provider_id, :value => @conversation.provider_id %>
  <%= f.hidden_field :user_id, :value =>  @conversation.user_id %>
  <%= f.hidden_field :userticks, :value =>  'blue' %>
  <span><%= f.submit id: 'submit' %></span>

  <% end %>

</div>
