<table>
  <% if @conversation.messages.present? %>
    <% @conversation.messages.each do |message| %>
    <tr><td><%= message.body %></td></tr>
    <% end %>
  <% end %>
</table>

<%= form_for @message do |f| %>

  <div class="field">
    <%= f.text_area :body, autofocus: true, placeholder: 'Message' %>
  </div>

  <%= f.hidden_field :conversation_id, :value => @conversation.id %>
  <%= f.hidden_field :provider_id, :value => @conversation.provider_id %>
  <%= f.hidden_field :user_id, :value =>  @conversation.user_id %>
  <%= f.submit %>

<% end %>
