<% @electricians.each do |electrician| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 id='list-title', class="panel-title"><%= electrician.firstname.capitalize %></h3>
    </div>
    <div class="panel-body">
      <div class='row'>
        <div class="col-xs-4">
          <%= image_tag electrician.avatar, class:"provider_avatar"  %>
        </div>
        <div class="col-xs-5">
          <p>License number: &nbsp<%= electrician.license_num %></p>
          <p>Experience: &nbsp<%= electrician.experience %></p>
          <p>Telephone number: &nbsp<%= electrician.tel_num %></p>
          <p>Email: &nbsp<%= link_to electrician.email, provider_path(electrician) %></p>
        </div>
        <div class="col-xs-3">
          <% unless electrician.likes.find_by(user_id: current_user.id).present? %>
            <button><%= link_to 'Like', like_provider_path(electrician), method: :post %></button>
          <% else %>
            <button><%= link_to 'Unlike', unlike_provider_path(electrician), method: :delete %></button>
          <% end %>
          <% if @page == 'standard_job' %>
            <button>Book now</button>
          <% end %>
        </div>     
      </div>
    </div>
  </div>
<% end %>