<% @electricians.each do |electrician| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= electrician.firstname.capitalize %></h3>
    </div>
    <div class="panel-body">
      <div class='row'>
        <div class="col-xs-4">
          <%= image_tag electrician.avatar, class:"provider_avatar"  %>
        </div>
        <div class="col-xs-6">
          <p>License number: &nbsp<%= electrician.license_num %></p>
          <p>Experience: &nbsp<%= electrician.experience %></p>
          <p>Telephone number: &nbsp<%= electrician.tel_num %></p>
        </div>
        <div class="col-xs-2">
          <% unless electrician.likes.find_by(user_id: current_user.id).present? %>
            <button><%= link_to 'Like', like_provider_path(electrician), method: :post %></button>
          <% else %>
            <button><%= link_to 'Unlike', unlike_provider_path(electrician), method: :delete %></button>
          <% end %>
          <button>Book now</button>
        </div>     
      </div>
    </div>
  </div>
<% end %>