<div class="index">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#menu1">All Jobs</a></li>
        <li><a data-toggle="tab" href="#menu2">Current Job</a></li>
        <li><a data-toggle="tab" href="#menu3">History</a></li>
      </ul>

      <div class="tab-content">
        <div id="menu1" class="tab-pane fade in active">
          <h3>All Jobs</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
          <h3>Current Job</h3>
          <div class="panel panel-default">
            <table class="table">
              <tr>
                <td>#</td>
                <td>Date</td>
                <td>Summary</td>
                <td>Status</td>
                <td>Electrican name</td>
                <td>Response</td>
              </tr>
              <% @current_joblistings.each_with_index do |current_joblisting, index| %>
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= current_joblisting.created_at.strftime("%F") %></td>
                  <td><%= link_to "#{current_joblisting.description}", joblisting_path(current_joblisting) %></td>
                  <td><%= current_joblisting.status %></td>
                  <% if current_joblisting.status == 'booked' || current_joblisting.status == 'pending' %>
                    <td><%= link_to "#{Provider.find(current_joblisting.provider_id).firstname}", provider_path(Provider.find(current_joblisting.provider_id)) %></td>
                  <% else %>
                    <td>No provider</td>
                  <% end %>
                  <% if current_joblisting.status == 'created' %>
                    <td><%= link_to "#{current_joblisting.status}", result_path(job_id: current_joblisting.id) %></td>
                  <% end %>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
        <div id="menu3" class="tab-pane fade">
          <h3>History</h3>
          <div class="panel panel-default">
            <table class="table">
              <tr>
                <td>#</td>
                <td>Date</td>
                <td>Summary</td>
                <td>Status</td>
                <td>Electrican name</td>
              </tr>
              <% @past_joblistings.each_with_index do |past_joblisting, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= past_joblisting.created_at.strftime("%F") %></td>
                <td><%= link_to "#{past_joblisting.description}", joblisting_path(past_joblisting) %></td>
                <td><%= past_joblisting.status %></td>
                <td><%= link_to "#{Provider.find(past_joblisting.provider_id).firstname}", provider_path(Provider.find(past_joblisting.provider_id)) %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</div>
