	<div class="row">
    <div class="col-xs-8 col-xs-offset-2 bhoechie-tab-container">
      <div class="col-xs-2 bhoechie-tab-menu">
        <div class="list-group">
          <a href="#menu-new" class="list-group-item active text-center">
            <h4 class="glyphicon glyphicon-briefcase"></h4><br/>New Jobs
          </a>
          <a href="#menu-current" class="list-group-item text-center">
            <h4 class="glyphicon glyphicon-pushpin"></h4><br/>Current Jobs
          </a>
          <a href="#menu-past" class="list-group-item text-center">
            <h4 class="glyphicon glyphicon-list-alt"></h4><br/>Job History
          </a>
          <a href="#menu-invoices" class="list-group-item text-center">
            <h4 class="glyphicon glyphicon-file"></h4><br/>Invoices
          </a>
          <a href="#menu-electricians" class="list-group-item text-center">
            <h4 class="glyphicon glyphicon-star"></h4><br/>Favourite Electricians
          </a>
        </div>
      </div>
      <div class="col-xs-10 bhoechie-tab">
        <!-- flight section -->
        <div class="bhoechie-tab-content active" id="menu-new">
          <center>
            <%= render partial: 'new_joblistings_list' %>
          </center>
        </div>
        <!-- train section -->
        <div class="bhoechie-tab-content" id="menu-current">
          <center>
            <%= render partial: 'current_joblistings_list' %>
          </center>
        </div>

        <!-- hotel search -->
        <div class="bhoechie-tab-content" id="menu-past">
          <center>
            <%= render partial: 'past_joblistings_list' %>
          </center>
        </div>
        <div class="bhoechie-tab-content" id="menu-invoices">
          <center>
            <%= render partial: 'invoices_list' %>
          </center>
        </div>
        <div class="bhoechie-tab-content" id="menu-electricians">
          <center>
            <%= render partial: 'favourite_electricians_list' %>
          </center>
        </div>
      </div>
    </div>
  </div>
