<div class="wrapper">
  <div class="checkout container">
    <div class="content">

      <header>

      </header>

      <%= form_tag(payments_path, method: "post", id: "payment-form") do %>
        <section>
          <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
              <div class="panel panel-default">
                <div class="panel-heading"><h3>Payment Information<h3></div>
                <table class="table">
                  <tr>
                  </tr>
                  <tr>
                    <td>Project Description:</td>
                    <td><%= link_to "#{@invoice.joblisting.description}", joblisting_path(@invoice.joblisting), target: :_blank %></td>
                  </tr>
                  <tr>
                    <td>Electrician name:</td>
                    <td><%= link_to "#{@invoice.provider.firstname}", provider_path(@invoice.provider), target: :_blank %></td>
                  </tr>
                  <tr>
                    <td>Invoice number:</td>
                    <td><%= link_to "#{@invoice.invoice_ref}", invoice_path(@invoice), target: :blank %></td>
                  </tr>
                  <tr>
                    <td>Total Amount (in SGD):</td>
                    <td>
                      <label for="amount">
                        <div class="input-wrapper amount-wrapper">
                          <input id="amount" name="amount" type="tel" min="1" placeholder="Amount" readonly="true" value= "<%= @invoice.price %>" size= <%= "#{@invoice.price.to_s.length - 2}" %>>
                        </div>
                      </label>
                    </td>
                  <tr>
                </table>
              </div>
            </div>
          </div>
          <h3 style="text-align:center;">Pls Proceed with the Payment Below:</h3>
          <div class="bt-drop-in-wrapper well">
            <div id="bt-dropin"></div>
            <input type="hidden" id="nonce" name="payment_method_nonce" />
            <button class="btn btn-success btn-block" type="submit"><span>Pay now</span></button>
            <% end %>
          </div>
        </section>
    <br><br>
    </div>
  </div>
</div>

<script src="https://js.braintreegateway.com/web/dropin/1.2.0/js/dropin.min.js"></script>
<script>
  var form = document.querySelector('#payment-form');
  var client_token = "<%= @client_token %>";
  braintree.dropin.create({
    authorization: client_token,
    container: '#bt-dropin',
    paypal: {
      flow: 'vault'
    }
  }, function (createErr, instance) {
    form.addEventListener('submit', function (event) {
      event.preventDefault();
      instance.requestPaymentMethod(function (err, payload) {
        if (err) {
          console.log('Error', err);
          return;
        }
        // Add the nonce to the form and submit
        document.querySelector('#nonce').value = payload.nonce;
        form.submit();
      });
    });
  });
  var checkout = new Demo({
    formID: 'payment-form'
  });
</script>
