<!DOCTYPE html>
<html>
  <head>
    <title>Cool Joe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
  </head>
  <body>
    <% if provider_signed_in? || user_signed_in? %>
      <%= render partial: 'layouts/header' %>
    <% end %>
    <% if notice != nil || alert !=nil %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
    <% if provider_signed_in? || user_signed_in? %>
      <%= render partial: 'layouts/footer' %>
    <% end %>
  </body>
</html>
